doctype doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="css/styles.css")
  body.bg-mainColor.debug-screens
    .container.min-h-screen.px-6.py-8.mx-auto.bg-gray-100
      // page header / headings
      section.text-center#header
        .mx-auto(class="md:ml-auto")
          h1
            | Tom Gonzales home training
            br
            | I'll get you in shape!
          h2
            span(class="md:hidden") • 
            | Muscle building 
            br(class="md:hidden")
            | • Functional training 
            br(clas="md:hidden")
            | • Nutritional advice
      
      section.mt-8#image_services(class="md:grid md:grid-cols-2 md:gap-10 xl:w-9/12 lg:mx-auto")
        // picture
        #image
          img.mx-auto(class="md:ml-auto" src="img/tom.jpg" alt="Tom Gonzales Online Training")

        // Services
        #services
          div.mx-auto.mt-10(class="md:mt-auto")
            h3 I offer you:
            ul.list-disc.ml-6
              - const myList = ["Lessons via skype and you can record all sessions and watch them again later", "Holistic full body training", "Training without equipment", "Pain reduction", "Tailored nutrition plans"];
              each item in myList
                li=item
          
          div.mt-10
            h3 My qualifications
            ul.list-disc.ml-6
              - const myList2 = ["Certified nutritionist", "Certified fitness trainer", "5 years of experience in 1: 1 training"];
              each item in myList2
                li=item

      div(class="xl:flex xl:w-10/12 2xl:w-9/12 xl:mx-auto")
        // Prices and payment
        section.mt-8#price_payment
          .mx-auto.text-justify(class="lg:w-2/3 xl:flex-auto xl:w-4/5")
            h2(class="xl:text-3xl") Prices and payment
            p My most important goal is that you get ahead with your goals.
            p In a free opening session we will discuss what you want to achieve and how much you can and want to spend. Then we are guaranteed to find a solution that suits you.
        
        // Contact
        section.flex.justify-around.mt-8.mb-10o#contact(class="lg:grid lg:grid-cols-2 lg:gap-4 lg:w-2/3 lg:mx-auto xl:flex xl:flex-col xl:justify-evenly 2xl:flex 2xl:flex-row 2xl:justify-around 2xl:items-center")
          .text-center#email
            p Your message:
            a.mt-1.mx-auto.bg-gray-300.px-4.py-2.rounded.shadow-sm.transition.flex.items-center.w-max(class="hover:bg-gray-400 hover:shadow-none focus:ring-2 focus:ring-yellow-400" href="#") 
              svg.h-4.mr-1(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign")
                circle(cx="12" cy="12" r="4")
                path(d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94")
              span.text-lg Send an email
                
          .mt-1.text-center#whatsApp_telefon
            p.mb-2 WhatsApp:
            span.text-lg 1 222 555 44 33


