doctype doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="css/styles.css")
  body.bg-mainColor.debug-screens
    .container.min-h-screen.px-6.py-8.mx-auto.bg-gray-100
      // page header / headings
      section#header
        .text-center
          h1
            | Tom Gonzales home training
            br
            | I'll get you in shape!
          h2 Muscle building • Functional training • Nutritional advice
      
      section.grid.grid-cols-2.gap-10.mt-8#image_services
        // picture
        #image
          img.ml-auto(src="img/tom.jpg" alt="Tom Gonzales Online Training")

        // Services
        #services
          h3 I offer you:
          ul.list-disc.ml-6
            - const myList = ["Lessons via skype and you can record all sessions and watch them again later", "Holistic full body training", "Training without equipment", "Pain reduction", "Tailored nutrition plans"];
            each item in myList
              li.mb-4.text-xl=item
          h3.mt-10 My qualifications
          ul.list-disc.ml-6
            - const myList2 = ["Certified nutritionist", "Certified fitness trainer", "5 years of experience in 1: 1 training"];
            each item in myList2
              li.mb-4.text-xl=item
      
      // Prices and payment
      section.mt-8#price_payment
        .mx-auto(class="w-2/3")
          h2.text-center Prices and payment
          p My most important goal is that you get ahead with your goals.
          p In a free opening session we will discuss what you want to achieve and how much you can and want to spend. Then we are guaranteed to find a solution that suits you.
      
      // Contact
      section.mt-8.mb-10#contact
        .grid.grid-cols-2.gap-4.mx-auto(class="w-2/3")
          .text-center#email
            p Your message:
            a.bg-gray-300.px-4.py-2.rounded.shadow-sm.transition.flex.items-center.w-max(class="hover:bg-gray-400 hover:shadow-none focus:ring-2 focus:ring-yellow-400" href="#") 
              svg.h-4.mr-1(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign")
                circle(cx="12" cy="12" r="4")
                path(d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94")
              span Send an email
          .text-center#whatsApp_telefon
            p WhatsApp:
            | 1 222 555 44 33
