doctype doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="css/styles.css")
  body.bg-mainColor.debug-screens(class="xl:bg-red-400 sm:bg-yellow-300 md:bg-green-500")